
.projectList{
  .alert-wrapper{
    border-radius: 3px;
    background: whitesmoke;
    .alert-title{
      font-size: 14px;
      font-style: italic;
      color: #ff3f41;
    }
    .button-inner{
      position: relative;
      padding:0 10px;
      .alert-checkbox-icon{
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -11px;
        margin-right: 10px;
        border-radius: 0;
      }
      .alert-checkbox-label{
        padding-left: 0;
        border-bottom: 1px solid #dcdcdc;
      }
    }
    .alert-tappable:last-child .alert-checkbox-label{
      border-bottom:0;
    }
    .button-inner{
      color: #8c8c8c;
    }
    .alert-button:last-child{
      font-weight: normal;
      span{
        color: #3a71dc;
      }
    }
  }
}
