page-newpz1 {
  .xiahuaxian{
    padding-bottom: 5%;
    border-bottom:#dedede 1px solid;
  }
  .hengxian{
    border-bottom-width:1px;
    border-color: transparent transparent #2824ff transparent !important;
  }
  .toolbar-title-md{
    margin-left: 20%;
    text-align:center;
  }
  .photoBT{
    display: inline-block;
    width:120px;
    height:120px;

  }
}
